* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.container h1 {
  color: blueviolet;
}

.book-list {
  display: grid;
  border: 3px solid violet;
}

.lists {
  display: flex;
  justify-content: space-between;
}

.container h2 {
  color: rgb(140, 69, 206);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btn {
  align-self: flex-end;
}

.success {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
  background-color: green;
}

.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
  background-color: red;
}
